!#if __has_include(".extend.Xresources")
!#include "~/.resources/.extend.Xresources"
!#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

! special
*.foreground:   #cec4cb
*.background:   #141013
*.cursorColor:  #cec4cb

! black
*.color0:       #201a1e
*.color8:       #a0d2d7

! red
*.color1:       #2a2228
*.color9:       #88bcc2

! green
*.color2:       #3c3239
*.color10:      #efdbd8

! yellow
*.color3:       #564952
*.color11:      #8bb8bd

! blue
*.color4:       #766471
*.color12:      #cac59c

! magenta
*.color5:       #9c8696
*.color13:      #cdd0eb

! cyan
*.color6:       #beb1ba
*.color14:      #e3beb9

! white
*.color7:       #e6e1e4
*.color15:      #94d1d7


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


#background = #211324

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

! стиль полосы прокрутки - rxvt (по умолчанию), plain (самый компактный), next, или xterm
!URxvt.scrollBar: false

URxvt.internalBorder: 6
URxvt.font: xft:monaco:size=13
URxvt.depth: 32
URxvt.background:	[90]#211324
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*foreground: 		                #f6f9f2
URxvt*cursorColor:		                #f6f9f2
