!#if __has_include(".extend.Xresources")
!#include "~/.resources/.extend.Xresources"
!#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"
! special

! special
*.foreground:   #e6d0c4
*.background:   #0d0805
*.cursorColor:  #e6d0c4

! black
*.color0:       #16100b
*.color8:       #82bfd5

! red
*.color1:       #221913
*.color9:       #80cab1

! green
*.color2:       #362921
*.color10:      #d59d73

! yellow
*.color3:       #534034
*.color11:      #8df3d2

! blue
*.color4:       #775d4d
*.color12:      #e1a373

! magenta
*.color5:       #a2806a
*.color13:      #77cfb3

! cyan
*.color6:       #d4a98c
*.color14:      #e8a165

! white
*.color7:       #eee0d8
*.color15:      #a7d9ed

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

#background = #211324

XTerm*background: #211324
XTerm*foreground: #f6f9f2
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
XTerm.vt100.locale: true
XTerm.vt100.faceName: xft:Hack:size=10

! стиль полосы прокрутки - rxvt (по умолчанию), plain (самый компактный), next, или xterm
!URxvt.scrollBar: false

URxvt.internalBorder: 6
URxvt.font: xft:Hack:bold:size=10
URxvt.depth: 16
URxvt.background:	[90]#0d0805
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*foreground: 		                #e6d0c4
URxvt*cursorColor:		                #e6d0c4
URxvt*skipBuiltinGlyphs:    true
